

:global(#app) {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.routeName {
  color: green;
}

.background {
    background: #f5f6f7 url("./assets/gradient.jpg") repeat-x 0 0;
    height: 100%;
}